
# For GPU
# Install locally Pytorch. Visit https://pytorch.org/get-started/locally/
# Update the following URL to download and install appropriate Torch 
# and Cuda for your system, e.g.: https://download.pytorch.org/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.0+cu118

# For CPU
# Install Pytorch from PyPI
# torch==2.3.0

torchmetrics==1.4.0.post0

transformers==4.41.2
accelerate==0.30.1
datasets==2.19.1
tokenizers==0.19.1

numpy==1.26.4
tqdm==4.66.4
tensorboard==2.16.2
matplotlib==3.9.0
scikit-learn==1.5.0

# For notebooks playground
jupyterlab==4.2.1
ipywidgets==8.1.3